.icon {
    padding: 0 15px;
}

.icon i {
    width: 100%;
}

.icon img {
    margin: 0 auto;
    max-height: 80px;
    height: 80px;
    width: 80px;
}

.icon p {
    text-align: center;
    font-size: 16px;
    margin-top: 13px;
    display: block;
    margin-left: -5px;
    margin-right: -5px;
}
